<!DOCTYPE html>
<html>

<head>
  <title><%= post.title %></title>
  <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"> 
  <link rel="stylesheet" href="/stylesheets/pure-css-1.0.0/pure-min.css" />
  <link rel="stylesheet" href="/stylesheets/pure-css-1.0.0/grids-responsive-min.css" />
  <link rel='stylesheet' href='/scripts/quill/dist/quill.content.css'/> 
  <link rel='stylesheet' href="/stylesheets/blog-style.css" />  
</head>
<body>  
  <div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
      <div class="header">
        <h1 class="brand-title"><%= blog.brand_title %></h1>
        <h2 class="brand-tagline"><%= blog.brand_tagline %></h2>

        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="pure-button" href="https://github.com/YJChan/appec_cms">Github</a>
            </li>            
          </ul>
        </nav>
      </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
      <div>
        <!-- A wrapper for all the blog posts -->
        <div class="posts">
          <h1 class="content-subhead"><% %></h1>

          <!-- A single blog post -->
          <section class="post">
            <header class="post-header">
              <% if(post.AdminPost !== null){ %>
              <img width="48" height="48" alt="<%= post.createdBy %>&#x27;s avatar" class="post-avatar" src="<%= post.AdminPost.avatar %>">
              <!-- <span class="post-author"><%= post.createdBy %></span> -->
              <% } %>
              <h2 class="post-title"><%=post.title %></h2>

              <p class="post-meta">
                By <a href="#" class="post-author"><%= post.createdBy %></a> 
                <% post.Post_Category.forEach(function(oPostCat){ %>                  
                  <% category.forEach(function(oCat){ %>
                    <% if (oCat.CatID === oPostCat.CatID) {%>
                    <a class="post-category post-category-pure">
                      <%= oCat.catname %>
                    </a>
                    <% } %>
                  <% }); %>
                <% }); %>
              </p>
            </header>

            <div class="post-description  ">
              <!--Content start -->
              <%- post.content %>
              <!--Content end -->
            </div>
          </section>
        </div>

        <div class="footer">
          <div class="pure-menu pure-menu-horizontal">
            <ul>
              <li class="pure-menu-item"><a href="http://appec.work/" class="pure-menu-link">About</a></li>
              <li class="pure-menu-item"><a href="http://appec.work/" class="pure-menu-link">Services</a></li>
              <li class="pure-menu-item"><a href="https://github.com/YJChan/appec_cms" class="pure-menu-link">GitHub</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/scripts/axios/dist/axios.js"></script>
  <script>
    window.onload = postViewed();

    function postViewed(){
      axios.get('<%= baseUrl %>api/post/post-view/<%= post.PostID %>')
        .then((response) => {
          console.log(response);
        });
    }
  </script>
</body>

</html>